<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-5">Delete Virus</h1>
    <form method="post" th:action="@{/viruses/delete/{id}(id=${id})}" th:object="${model}">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" disabled
                   id="name" name="name" type="text" th:field="*{name}"/>
        </div>
        <div class="form-group" >
            <label for="description">Description</label>
            <textarea class="form-control" style="resize: none; height: 100px" disabled
                      id="description" name="description" th:field="*{description}"></textarea>
        </div>
        <div class="form-group">
            <label for="sideEffects">Side Effects</label>
            <input class="form-control" id="sideEffects" name="sideEffects"
                   type="text" th:value="*{sideEffects}" disabled/>
        </div>
        <div class="form-group">
            <label for="creator">Creator</label>
            <input class="form-control" id="creator" name="creator" type="text" th:field="*{creator}" disabled/>
        </div>
        <div class="form-group">
            <input id="isDeadly" name="isDeadly" type="checkbox" th:field="*{isDeadly}" disabled/>
            <label for="isDeadly">Is Deadly?</label>
        </div>
        <div class="form-group">
            <input id="isCurable" name="isCurable" type="checkbox" th:field="*{isCurable}" disabled/>
            <label for="isCurable">Is Curable?</label>
        </div>
        <div class="form-group">
            <input type="radio" name="mutation" value="ZOMBIE" th:field="*{mutation}" disabled/> ZOMBIE<br/>
            <input type="radio" name="mutation" value="T_078_TYRANT" th:field="*{mutation}" disabled/> T_078_TYRANT<br/>
            <input type="radio" name="mutation" value="GIANT_SPIDER" th:field="*{mutation}" disabled/> GIANT_SPIDER<br/>
        </div>
        <div class="form-group">
            <label for="turnoverRate">Turnover Rate</label>
            <input class="form-control" id="turnoverRate" name="turnoverRate" type="number" th:field="*{turnoverRate}"
                   min="0" max="100" disabled/>
        </div>
        <div class="form-group">
            <label for="hoursUntilTurn">Hours Until Turn</label>
            <input class="form-control" id="hoursUntilTurn" name="hoursUntilTurn" type="number" th:field="*{hoursUntilTurn}"
                   min="1" max="12" disabled/>
        </div>
        <div class="form-group">
            <label for="magnitude">Magnitude</label>
            <select class="form-control" id="magnitude" name="magnitude" th:field="*{magnitude}" disabled>
                <option value="LOW">Low</option>
                <option value="MEDIUM">Medium</option>
                <option value="HIGH">High</option>
            </select>
        </div>
        <div class="form-group" >
            <label for="releasedOn">Release Date</label>
            <input class="form-control" id="releasedOn" name="releasedOn" type="date" th:field="*{releasedOn}" disabled/>
        </div>
        <div class="form-group">
            <label for="capitals">Capitals</label>
            <select class="form-control" id="capitals" name="capitals" th:field="*{capitals}" multiple disabled>
                <option th:each="capital : *{capitals}" th:value="${capital}" th:text="${capital}" selected></option>
            </select>
        </div>
        <input class="btn btn-primary m-5" type="submit" value="Confirm">
        <a href="javascript:history.back()" class="btn btn-secondary float-right m-5">Cancel</a>
    </form>
</div>
</body>
</html>