<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<body>
<th:block layout:fragment="content">
    <div class="my-background rounded pt-5 pb-5 pl-4 pr-4">
        <h1 class="h-font-weight">Eventures - The best ticket service in the world.</h1>
        <hr class="my-hr bg-dark"/>
        <h2 class="h-font-weight"><a href="/login">Login</a> to start "eventing".</h2>
        <h2 class="h-font-weight"><a href="/register">Register</a> if you don't have an account.</h2>
    </div>
</th:block>
</body>
</html>