<th:block
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="pagination(eventsPage)">
        <!--FUCKIN MAGIC-->
        <div class="justify-content-center d-flex align-items-center">
            <th:block th:with="end = ${eventsPage.getTotalPages() > 7 ? 7 : eventsPage.getTotalPages()}">
                <a th:if="${eventsPage.hasPrevious()}" th:href="@{/events/all(page=${eventsPage.getNumber() - 1})}"
                   class="m-1">Previous</a>
                <th:block th:with="start=${ (((1 + eventsPage.getNumber()) - (end / 2)) < 1
                            ? 1
                            : (((1 + eventsPage.getNumber()) + (end / 2)) > eventsPage.getTotalPages()
                                ? ((eventsPage.getTotalPages() + 1) - end)
                                : ((1 + eventsPage.getNumber()) - (end / 2))))}">
                <th:block th:each="i : ${#numbers.sequence(start, end - 1 + start)}">
                    <a class="m-1" th:classappend="${i - 1 == eventsPage.getNumber()} ? 'text-danger'"
                       th:text="${i}" th:href="@{/events/all(page=${i - 1})}"></a>
                </th:block>
                <a th:if="${eventsPage.hasNext()}" th:href="@{/events/all(page=${eventsPage.getNumber() + 1})}"
                   class="m-1">Next</a>
                </th:block>
            </th:block>
        </div>
    </th:block>
</th:block>